.afwordcount{
  box-shadow: 0 0 20px #333;
  font-family:sans-serif;
  background:white;
  border: 1px solid #333;
  border-radius:4px;
  padding:19px;
  position:fixed;
  top: 50px;
  left: 50px;
  z-index:1000;
} 
.afwordcount ul{
  display: inline-block;
  overflow-y:scroll;
  max-height:400px;
  padding:5px;
  border-radius:3px;
  vertical-align: top;
  margin:0;
}
.afwordcount li{
  list-style:none;
  background:white;
  padding:5px;
}
.afwordcount li:nth-child(even){
  background:#eee;
}
.afwordcount li span{
  font-weight:bold;
}
.afwordcount .wordcount-right{
  display: inline-block;
  vertical-align: top;
  padding: 5px;
  margin:0;
}
.afwordcount .wordcount-right span{
  font-weight:bold;
}
a.afclose{
  position:absolute;
  top:0;
  right:0;
  z-index:1001;
  display:block;
  padding:10px 0;
  width:20px;
  line-height:0;
  text-align:center;
  font-family:sans-serif;
  background:#333;
  color:white;
  font-size: 14px;
  margin:0;
  border-radius:0;
  box-shadow:none;
}
  