div#afwordcount{
  box-shadow: 0 0 20px #333;
  font-family:sans-serif;
  background:white;
  border: 1px solid #333;
  border-radius:4px;
  padding:19px;
  position:fixed;
  top: 50px;
  right: 50px;
  left:auto;
  bottom:auto;
  z-index:1000;
  width:auto;
  height:auto;
} 
div#afwordcount ul{
  display: inline-block;
  overflow-y:scroll;
  max-height:400px;
  padding:5px;
  border-radius:3px;
  vertical-align: top;
  margin:0;
}
div#afwordcount ul li{
  list-style:none;
  background:white;
  padding:5px;
}
div#afwordcount ul li:nth-child(even){
  background:#eee;
}
div#afwordcount ul li span{
  font-weight:bold;
}
div#afwordcount div.wordcount-right{
  display: inline-block;
  vertical-align: top;
  padding: 5px;
  margin:0;
  background:transparent;
  width:auto;
  height:auto;
  color:#333;
  position:relative;
}

div#afwordcount div.wordcount-right p{
  font-weight:normal;
  font-size:16px;
  line-height:18px;
  font-family:sans-serif;
}

div#afwordcount div.wordcount-right span{
  font-weight:bold;
}

div#afwordcount a.afclose{
  position:absolute;
  top:2px;
  right:2px;
  z-index:1001;
  display:block;
  padding:10px 0;
  width:20px;
  line-height:0;
  text-align:center;
  font-family:sans-serif;
  background:#333;
  color:white;
  font-size: 14px;
  margin:0;
  border-radius:2px;
  box-shadow:none;
  border:none;
}
  